article.list {
    margin-bottom: 24px;
}

article.list header h2 {
    width: max-content;
}

article.list .article-meta {
    width: max-content;
    text-align: left;
}

article.list .article-meta > * {
    font-size: 14px;
}
