.archive-grid {
    display: grid;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin: 0 auto;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-gap: 16px;
}

.archive-grid .archive-list header h1 {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    color: var(--body-color);
    display: block;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 1.166666667;
}

.archive-grid aside {
    height: 100%;
    border-left: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding-left: 16px;
}

article.list {
    margin-bottom: 24px;
}

article.list header h2 {
    width: max-content;
    margin-bottom: 8px;
}

article.list .article-meta {
    width: max-content;
    text-align: left;
}

article.list .article-meta .date,
article.list .article-meta .byline {
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .archive-grid {
        grid-template-columns: minmax(0, 1fr);
    }

    .archive-grid aside {
        border-left: 0;
        border-top: 1px solid #e8e8e8;
    }
}
