.archive {
    padding: 48px;
    box-sizing: border-box;
}

.archive-post-container {
    min-height: 80vh;
}

.archive-post {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #b4c0cb77;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, max-content));
    grid-gap: 8px;
}

.archive-post h2 {
    margin: 0;
}

.archive-post h2 a {
    color: #262626;
}

.archive-post a:not(.tag) {
    color: #279af1;
    text-decoration: none;
    padding: 4px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 4px;
    outline: none;
}

.archive-post a:hover,
.archive-post a:focus {
    background: #efefef;
    color: #00268e;
}

.archive-post-header {
    font-size: 12px;
}

.archive-header {
    padding: 27px;
    position: relative;
    background: #262626;
}