header.site-header {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0,max-content) minmax(0,max-content);
    position: relative;
    padding: 12px 48px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background .2s ease-out;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    margin-bottom: 24px;
    justify-content: space-between;
}

header.site-header a {
    color: #4f4f6f;
    text-decoration: none;
    outline: none;
    padding: 4px;
    border-radius: 4px;
}

header.site-header a:not(.logo-container):focus,
header.site-header a:not(.logo-container):hover {
    color: #fff;
    background: var(--accent-bg);
}

nav.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, max-content));
    grid-gap: 8px;
}

a.logo-container {
    height: 30px;
    display: grid;
    grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
    align-items: center;
    grid-column-gap: 4px;
    color: #fff !important;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    padding-left: 0 !important;
}

a.logo-container:hover .logo-text,
a.logo-container:focus .logo-text {
    transform: translateX(0);
}

.logo-square {
    background: var(--accent-bg);
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    display: grid;
    position: relative;
    z-index: 1000;
}

.logo-text {
    color: #4f4f6f;
    transform: translateX(-200px);
    transition: transform 0.2s ease-out;
}

@media screen and (max-width: 640px) {
    header.site-header {
        padding: 12px 24px;
    }

    .logo-text {
        width: 1px;
        height: 1px;
    }
}
