@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");

article.single-article {
    width: 960px;
    margin: 0 auto;
}

article header {
    margin-bottom: 36px;
}

article header h1 {
    font-size: 36px;
    width: 100%;
    color: #26263f;
    display: block;
    font-weight: 900;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0 auto 6px;
    line-height: 1.166666667;
}

article header .article-meta {
    text-align: center;
    width: 100%;
}

article header .article-meta .byline,
article header .article-meta .date {
    font-size: 18px;
}

article header .article-meta .article-category {
    font-size: 14px;
    margin-top: 5px;
}

article a {
    color: var(--link-color);
    text-decoration: none;
    padding: 4px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 4px;
    outline: none;
    font-weight: 700;
}

article a:hover,
article a:focus {
    background:var(--link-hover-bg);
    color: var(--link-hover-color);
}

article .article-body {
    font-size: 24px;
}
