.tag-row {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0;
}

.tag {
    font-size: 10px;
    padding: 2px 8px;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 8px;
    display: block;
    width: max-content;
    text-decoration: none;
    outline: none;
    margin-right: 4px;
    margin-bottom: 4px;
}

.tag:hover,
.tag:focus {
    border-color: #000;
}
