<!doctype html>
<html lang="en">
    <head>
        <% if (meta.title === '@home') { %>
        <title>On the Formed Life - Weekly practices, rhythms, habits, and musings on Christian spirituality</title>
        <% } else { %>
        <title><%= meta.title %> | On the Formed Life</title>
        <% } %>
        <link rel="stylesheet" href="/style.css" />
        <script src="https://kit.fontawesome.com/70268be1d2.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#fff">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" sizes="192x192" href="images/icons/icon-192x192.png">
        <link rel="preconnect" href="https://kit-free.fontawesome.com">
        <link rel="preconnect" href="https://kit.fontawesome.com">
        <style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <%- header %>
            <%- page %>
            <%- footer %>
        </div>
        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker
                .register('/sw.js')
                .then(() => {
                  console.log('🦄');
                });
            }
        </script>
    </body>
</html>
