<!doctype html>
<html lang="en">
    <head>
        <title><%= meta.title %> | On the Formed Life</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="wrapper">
            <%- page %>
        </div>
    </body>
</html>