<!doctype html>
<html lang="en">
    <head>
        <title><%= meta.title %> | On the Formed Life</title>
        <link rel="stylesheet" href="/style.css" />
        <script src="https://kit.fontawesome.com/70268be1d2.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#fff">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" sizes="192x192" href="images/icons/icon-192x192.png">
    </head>
    <body>
        <div id="wrapper">
            <%- page %>
        </div>
        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker
                .register('/sw.js')
                .then(() => {
                  console.log('🦄');
                });
            }
        </script>
    </body>
</html>