<header class="header">
    <a href="/" class="logo-container">
        <div class="logo-square">On</div>
        <div class="logo-text">the Formed Life</div>
    </a>
    <nav class="navigation">
        <a href="/reviews">Reviews</a>
        <a href="/thoughts">Thoughts</a>
        <a href="/about">About</a>
    </nav>
</header>
